body {
  --body-bg: white;
  --btn-text-color: black;
  --btn-bg-color: silver;
  --light-dark-btn-bg: blue;
  --light-dark-btn-color: white;
  --light-dark-btn-content: "Dark Mode";
  --rules-btn-bg-color: green;
  --rules-btn-bg-text-color: white;
  --hover-box-bg-color: black;
  --hover-box-text-color: white;
  --text-color: black;
  
  background-color: var(--body-bg);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

body.dark {
  --body-bg: #22232b;
  --btn-text-color: black;
  --btn-bg-color: silver;
  --light-dark-btn-bg: green;
  --color: white;
  --light-dark-btn-content: "Light Mode";
  --text-color: white;
  --rules-btn-bg-color: blue;
  --rules-btn-bg-text-color: white;
  --hover-box-bg-color: white;
  --hover-box-text-color: black;
}

h1 {
  text-align: center;
  color: var(--text-color);
}

h2 {
  text-align: center;
  margin: 110px; 
  font-size: 20px;
}

h3 {
  text-align: center;
  margin: auto; 
  font-size: 20px;
}

.slot {
  display: grid;
  grid-template-rows: 25% 25% 25% 15% 10%;
  grid-template-columns: repeat(3, 33%);
  grid-template-areas:
  "msg msg msg"
  "reel reel reel"
  "balance balance balance"
  "bet bet bet"
  "start start start";
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  background-image: url("https://i.postimg.cc/cCgz5zh0/slot.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 450px;
  height: 450px;
}

#message {
  grid-area: msg;
  width: 100%;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reel1 {
  padding: 70px 0px 0px 110px; 
}

#reel2 {
  padding: 70px 0px 0px 0px; 
}

#reel3 {
  padding: 70px 100px 0px 0px; 
}

#balance {
  grid-area: balance;
  color: white;
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 75px;
}

.bet-btn {
  width: 60px;
  height: 25px;
  margin-top: 40px;
}

#start-amt {
  grid-area: start;
}

#bet-amt {
  width: 180px;
  height: 20px;
}

/* #confirm-btn {
  grid-area: confirm;
  width: 70px;
  height: 25px;
  justify-content: center;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  margin: auto;
} */

#set-bet-btns {
  grid-area: bet;
}

#reset-btn {
  grid-column: 2/3;
  width: 70px;
  height: 25px;
  justify-content: center;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  margin-top: 37px;
}

#light-dark-button {
  background-color: var(--light-dark-btn-bg); 
  color: var(--light-dark-btn-color);
  width: 100px;
  height: 25px;
}

#light-dark-button::after {
  content: var(--light-dark-btn-content);
} 

#rules-button {
  width: 100px;
  height: 25px;
  background-color: var(--rules-btn-bg-color); 
  color: var(--rules-btn-bg-text-color);
  
}

#rules-button > span {
  visibility: hidden;
  width: 200px;
  background-color: var(--hover-box-bg-color);
  color: var(--hover-box-text-color);
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

#rules-button:hover > span {
  visibility: visible;
}

/* @media only screen and (min-width: 1024px) {
  
} */

/* @media only screen and (min-width: 768px) {
  
} */